.cart-dropdown-container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 400px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 1rem;
    width: 300px;
    z-index: 10;
    top: 3rem;
    right: 0;

    &.open {
        display: flex;
    }

    &.closed {
        display: none;
    }

    .cart-dropdown-items {
        width: 100%;
        padding-top: 1rem;
        margin-top: -1rem;
        margin-bottom: 4rem;
        overflow-y: scroll;
    }

    .button-container {
        position: absolute;
        bottom: 1rem;
        width: 75%;
        a{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        &:hover a{ color: #000; }
    }
}